img{
    padding: 1px;
    border: 5px solid hsl(36, 56%, 70%);
    border-width: 5px;
    border-radius: 100px;
}

div{
    text-align: center;
    border-top: 1px solid #d5d5d5; 
    line-height: 50px;
}

* {
    margin: 0px;
    padding: 1px;
    font-family: 'Tahoma', sans-serif;
  }

  h1{
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 35px;
    border: 2px solid hsl(36, 56%, 70%);
    border-width: 5px;
    background-color: rgb(248, 205, 153);
    border-radius: 60px;
    border-style: initial;
    margin: 30px;
  }

  h2{
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 30px;
    border: 2px solid hsl(36, 56%, 70%);
    border-width: 5px;
    background-color: rgb(248, 205, 153);
    border-radius: 60px;
    border-style: initial;
    margin: 30px;
  }

  p{
    font-size: 20px;
    text-align: left;
    padding: 30px;
  }

  body{
    border-left: 1px solid;
  }


  h3{
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 30px;
    border: 2px solid hsl(36, 56%, 70%);
    border-width: 5px;
    background-color: rgb(248, 205, 153);
    border-radius: 60px;
    border-style: initial;
    margin: 30px;
  }

  h4{
    text-align: center;
    font-family: serif;
    padding-left: 15px;
    font-style: italic;
    font-size: 30px;
    border: 2px solid hsl(36, 56%, 70%);
    border-width: 2px;
    background-color: rgb(248, 205, 153);
    border-radius: 60px;
    border-style: solid;
    margin: 30px;
  }

  li{
    text-align: left;
    font-family: serif;
    padding-left: 15px;
    font-style: italic;
    font-size: 30px;
    border: 2px solid hsl(36, 56%, 70%);
    border-width: 2px;
    background-color: rgb(247, 220, 188);
    border-radius: 60px;
    border-style: solid;
    margin: 30px;
  }

  a {
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 25px;
}